@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* USER VARIABLES SECTION */
:root {
  --white: #fff;
  --accent: #02897a;
  --text-dark: #252b42;
  --text-deep: #173a56;
  --text-light: #737373;
  --light-bg: #efefef;
  --light-green: #edfffc;
  --shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  --border: #bcd0e5;
  --radius-sm: 4px;
  --radius-md: 5px;
  --radius-lg: 8px;
  --radius-xl: 26.5px;
  --radius-xxl: 32px;
  --regular-text: 16px;
  --small-text: 14px;
  --transition: 0.25s ease-out;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
	font-weight: 400;
  font-size: 1rem;
  color: #22343d;
  min-width: 320px;
  overflow-x: hidden;
}

ol,
ul,
li {
  list-style: none;
}

h1, h2, h3, h4, h5 ,h6 {
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  border: 0;
}

section {
	position: relative;
	padding: 3.75rem 0;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-left: .75rem;
  padding-right: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

/* ALL COLUMNS */
.column,
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12,
.column-auto,

.column-sm,
.column-sm-1,
.column-sm-2,
.column-sm-3,
.column-sm-4,
.column-sm-5,
.column-sm-6,
.column-sm-7,
.column-sm-8,
.column-sm-9,
.column-sm-10,
.column-sm-11,
.column-sm-12,
.column-sm-auto,

.column-md,
.column-md-1,
.column-md-2,
.column-md-3,
.column-md-4,
.column-md-5,
.column-md-6,
.column-md-7,
.column-md-8,
.column-md-9,
.column-md-10,
.column-md-11,
.column-md-12,
.column-md-auto,

.column-lg,
.column-lg-1,
.column-lg-2,
.column-lg-3,
.column-lg-4,
.column-lg-5,
.column-lg-6,
.column-lg-7,
.column-lg-8,
.column-lg-9,
.column-lg-10,
.column-lg-11,
.column-lg-12,
.column-lg-auto,

.column-xl,
.column-xl-1,
.column-xl-2,
.column-xl-3,
.column-xl-4,
.column-xl-5,
.column-xl-6,
.column-xl-7,
.column-xl-8,
.column-xl-9,
.column-xl-10,
.column-xl-11,
.column-xl-12,
.column-xl-auto,

.column-xxl,
.column-xxl-1,
.column-xxl-2,
.column-xxl-3,
.column-xxl-4,
.column-xxl-5,
.column-xxl-6,
.column-xxl-7,
.column-xxl-8,
.column-xxl-9,
.column-xxl-10,
.column-xxl-11,
.column-xxl-12,
.column-xxl-auto {
	position: relative;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.button {
  display: inline-block;
  font-weight: 600;
	color: #555A64;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
	border: 1px solid transparent;
	padding: 0.625rem 1.5rem;
	font-size: 1rem;
	line-height: calc(24 / 16 * 100%);
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.heading h2 {
	font-size: calc(1.7rem + 1.5vw);
	font-weight: 700;
	text-align: center;
	line-height: 1.3;
	color: #22343D;
}

/* HEADER */
.header {
  position: relative;
}

.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;
  background-color: var(--white);
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
	padding: 0 1rem;
}

.header__navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

.header__brand .brand__img {
  margin-right: 16px;
}

.brand {
  font-size: 30px;
  white-space: nowrap;
  line-height: calc(28 / 30 * 100%);
  color: var(--text-deep);
  font-weight: 700;
  letter-spacing: 0.75px;
  display: flex;
  align-items: center;
}

.header__menu {
  display: none;
}

.menu {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
	order: 3;
}

.menu__list {
  margin-left: auto;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.menu__link {
  padding: 8px;
  color: var(--text);
  line-height: calc(28 / 16 * 100%);
}

.menu__link.active {
  font-weight: 600;
}

.actions__button {
  border: 1px solid var(--border);
  color: var(--text-deep);
}
.actions__button:hover,
.actions__button:focus {
  background: var(--accent);
  color: var(--white);
  border-color: transparent;
}

.actions {
  display: flex;
  align-items: center;
}

.actions__list {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.actions__link {
	display: none;
}

.actions__link {
	padding: 10px 25px;
	border-color: var(--border);
	color: var(--text-deep);
	margin-right: 24px;
}

.actions__signin {
	margin-right: 1rem;
	background-color: var(--accent);
	color: var(--white);
	padding: 10px 25px;
}

.actions__theme {
	outline: 0;
	border: 0;
	background-color: #f3f3f3;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 1rem;
}

.toggler {
	position: relative;
  padding: 0;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: none;
}

.toggler .icon-sm {
  height: 1.5rem;
}

.toggler svg {
	transition: .2s ease-in-out;
}

.toggler .icon {
	flex-shrink: 0;
	width: auto;
}

.toggler .toggler-close {
	position: absolute;
	top: 0;
	left: 0;
}

.toggler[aria-expanded="false"] .toggler-close {
	opacity: 0;
	transform: scale(0.5) translateX(100%);
}


/* HERO SECTION */
.hero {
	overflow: hidden;
	padding-bottom: 0;
}

.hero > .container {
  padding-top: 3rem;
}

.hero__row {
  padding-top: 3rem;
  align-items: center;
  justify-content: space-between;
}

.hero__column {
  text-align: center;
	margin-bottom: 7rem;
}

.form__buttons {
  display: flex;
  flex-direction: column;
}

.form__accent {
  margin-bottom: 0.5rem;
	background: var(--accent);
  color: var(--white);
}

.form__default {
	text-decoration: underline;
  color: var(--accent);
}

.form__default img {
  margin-right: 8.5px;
}

.hero__title {
  font-size: 3.5rem;
  line-height: 1.2;
}

.hero__subtitle {
	font-size: 1.125rem;
	line-height: calc(28 / 18 * 100%);
}

/* PRODUCT SECTION */
.product .row {
	text-align: center;
	row-gap: 20px;
}

.product__column {
	justify-content: center;
	margin-bottom: 3.619rem;
}

.product__button {
	display: flex;
	justify-content: center;
}

.product__button a {
	background-color: var(--accent);
	color: var(--white);
}