@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
	.form__buttons {
		flex-direction: row;
	}
	.form__accent {
		margin-bottom: 0;
		margin-right: .5rem;
	}
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
	.hero__title {
		margin-bottom: 1.5rem;
	}
	.hero__subtitle {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
	.column {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.hero__column {
		text-align: left;
	}
  .header__navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .toggler {
    display: none;
  }
  .menu {
    display: flex;
    flex-basis: auto;
  }
  .menu__list {
    flex-direction: row;
  }
  .menu__link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
	.column {
		flex: 0  0 41.66667%;
		max-width: 41.66667%;
	}
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: calc(1.475rem + 2.7vw);
  }
}

@media (max-width: 991.98px) {
  .hero__subtitle {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
