@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
	.column-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.form__buttons {
		flex-direction: row;
		justify-content: center;
	}
	.form__accent {
		margin-bottom: 0;
		margin-right: .5rem;
	}
	.actions__link {
		display: block;
	}
}