@media (min-width: 992px) {
	.container {
    max-width: 960px;
  }

	.column-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* ============================== */

	section {
		padding: 7.5rem 0;
	}

	.hero__column {
		text-align: left;
		margin-bottom: 0;
	}
	
  .header__navbar {
		flex-flow: row nowrap;
		/* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: flex-start;
  }
	.header__navbar > .container {
		flex-wrap: nowrap;
	}
  .toggler {
    display: none;
  }
	.actions {
		order: 3;
	}
  .menu {
    display: flex;
		justify-content: flex-start;
		order: 2;
    flex-basis: auto;
  }
  .menu__list {
    flex-direction: row;
  }
  .menu__link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

	.form__buttons {
		justify-content: flex-start;
	}
}