@media (min-width: 768px) {
	.column-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	section {
		padding: 6rem 0;
	}
  .container {
    max-width: 720px;
  }
	.hero__title {
		margin-bottom: 1.125rem;
	}
	.hero__subtitle {
		margin-bottom: 2.813rem;
	}
}