.header__brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

.header__brand .brand__img {
  margin-right: 16px;
}

.brand {
  font-size: 30px;
  white-space: nowrap;
  line-height: calc(28 / 30 * 100%);
  color: var(--text-deep);
  font-weight: 700;
  letter-spacing: 0.75px;
  display: flex;
  align-items: center;
}
