.button {
  display: inline-block;
  font-weight: 600;
	color: #555A64;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
	border: 1px solid transparent;
	padding: 0.625rem 1.5rem;
	font-size: 1rem;
	line-height: calc(24 / 16 * 100%);
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.actions__button {
  border: 1px solid var(--border);
  color: var(--text-deep);
}
.actions__button:hover,
.actions__button:focus {
  background: var(--accent);
  color: var(--white);
  border-color: transparent;
}

.form__accent {
  margin-bottom: 0.5rem;
}

.button-accent {
  background: var(--accent);
  color: var(--white);
}

.button-default {
  text-decoration: underline;
  color: var(--accent);
}
.button-default img {
  margin-right: 8.5px;
}

.btn-animation {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #14b29f
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
