.header__menu {
  display: none;
}

.menu {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.menu__list {
  margin-left: auto;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.menu__link {
  padding: 8px;
  color: var(--text);
  line-height: calc(28 / 16 * 100%);
}

.menu__link.active {
  font-weight: 600;
}
