.toggler {
	position: relative;
  padding: 0;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: none;
}

.toggler .icon-sm {
  height: 1.5rem;
}

.toggler svg {
	transition: .2s ease-in-out;
}

.toggler .icon {
	flex-shrink: 0;
	width: auto;
}

.toggler .toggler-close {
	position: absolute;
	top: 0;
	left: 0;
}

.toggler[aria-expanded="false"] .toggler-close {
	opacity: 0;
	transform: scale(0.5) translateX(100%);
}
